div.projects-container{
    padding: 0 0 4rem 3rem;

    display: block;
    justify-content: center;
    align-items: center;
}
h1.projects-title{
    display: block;
    padding: 2rem 5rem;
    font-size: 2rem;
}

.projects-Dark {
    background: var(--Grey-800);
    color: var(--white);
}

.projects-Light {
    background: var(--white);
    color: var(--Grey-800);
}

@media(max-width: 1080px) {
    div.projects-container{
        padding-bottom: 4rem;
    
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0 0 4rem 0;
    }

    h1.projects-title{
        padding: 2rem 2rem;
    }
}