div#projects-container{
    background: var(--Grey-800);
    padding-bottom: 4rem;

    display: block;
    justify-content: center;
    align-items: center;
}
h1#projects-title{
    display: block;
    background: var(--Grey-800);
    padding: 2rem 2rem;
    font-size: 2rem;
}
@media(max-width: 1080px) {
    div#projects-container{
        background: var(--Grey-800);
        padding-bottom: 4rem;
    
        display: block;
        justify-content: center;
        align-items: center;
    }

    h1#projects-title{
        padding: 2rem 2rem;
    }
}