div.conhecimentos-container{
    display: flex;
    justify-content: space-between;

    padding: 3.5rem 80px;
    height: 500px;
}

div.conhecimentos-container h1{
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
}
section.text{
    width: 50%;
    margin: 1rem 1rem;
}


section.text p{
    display: block;
    margin-bottom: 20px;
    line-height: 35px;
}

section.cards{
    display: block;
    margin: 0 1rem;
}

div.conhecimentosCard-container{
    display: inline-flex;
    justify-content: center;
    width: 20%;
    height: 150px;

    background: var(--Grey-800);
    border-radius: 10px;
    margin: 1rem 1rem;
}
div.conhecimentosCard-container:hover{
    background:var(--Grey-800);
    cursor: pointer;
    transition: 0.5s;
}

div.conhecimentosCard-container img{
    margin: 2.3rem auto;
    width: 60%;
}

.conhecimentos-Dark {
    background: var(--Grey-400);
    color: var(--white);
}

.conhecimentos-Light {
    background: var(--Grey-100);
    color: var(--Grey-800);
}


@media(max-width: 1080px) {
    div.conhecimentos-container{
        display:block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    div.conhecimentosCard-container{
        width: 25%;
    }
    section.text p.message-cursor{
        display: none;
    }

    section.text p{
        display: block;

        align-items: center;
        justify-content: center;
        text-align: center;

        margin-bottom: 20px;
        line-height: 35px;
    }
    section.text{
        width: 100%;
        margin: 0;
    }
    
}

@media(max-width: 700px) {
    div.conhecimentos-container{
        display:block;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    
    div.conhecimentosCard-container{
        width: 80%;
    }
    section.text p.message-cursor{
        display: none;
    }

    section.text p{
        display: block;

        align-items: center;
        justify-content: center;
        text-align: center;

        margin-bottom: 20px;
        line-height: 35px;
    }
    section.text{
        width: 100%;
        margin: 0;
    }
}