div.button-container{
    display: flex;
    justify-content: space-between;

    padding: 0.6rem 1.5rem;
    text-align: center;
    align-items: center;
    max-width: 150px;
    height: 40px;
    border-radius: 5px;

    cursor: pointer;
}

div.button-container img{
    display: inline-block;
    max-width: 18px;
    height: 18px;
    margin: auto 0;

    color: var(--white);
}

div.button-container p{
    display: inline-block;
    margin: 0 10px;
}

.button-Light {
    background: var(--Blue-300);
}

.button-Light img{
    background: var(--Blue-300);
}

.button-Dark {
    background: var(--color-button);
}

.button-Dark img{
    background: var(--color-button);
}