*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

:root {
    --Grey-400: #202020;
    --Grey-800: #181818;
    --color-button: #6610f2;
    --color-button-hover: #510fbb;
}
body{
    font-family: "Fira Code", "Montserrat", 'san-serif';
    color: #fff;

    font-size: 16px;
}


body::-webkit-scrollbar {
    background-color: #181818;
}
body::-webkit-scrollbar-thumb{
    background-color: #6610f2;
}