div#landing-container{
    display: flex;
    justify-content: space-between;

    background: var(--Grey-800);
}

img#capa-image{
    margin-top: 4.7rem;
    width: 45%;
    margin-bottom: 5rem;
}


section{
    margin: auto 3rem;
}

span#span-animation{
    display: inline-block;
    margin: auto 0;
    padding: 2.5rem 0;

    font-size: 1.2rem;
}
span#span-animation::after{    
    content: "|";
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


span h1{
    font-size: 2rem;
}

div.div-button{
    margin: 0;
}

div.div-button div#button-container{
    width: 33%;
}

a{
    text-decoration: none;
    color: #fff;
}

@media(max-width: 1080px) {
    div.div-button div#button-container{
        width: 70%;
    }
    
}

@media(max-width: 700px) {
    img#capa-image{
        display: none;
    }

    div#landing-container{
        display: block;
        padding-bottom: 50px;
    }

    span{
        padding: 2.5rem 0;
    
        font-size: 1.1rem;
    }

    span h1{
        font-size: 1.5rem;
    }

    div.div-button div#button-container{
        width: 50%;
    }
}