div.landing-container{
    display: flex;
    justify-content: space-between;

    height: 100vh;
}

section{
    margin: auto 80px;
}

span.span-animation{
    display: inline-block;
    margin: auto 0;
    padding: 2.5rem 0;

    font-size: 1.2rem;
}
span.span-animation::after{    
    content: "|";
    opacity: 1;
    animation: pisca .7s infinite;
}


@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    
}

span h1{
    font-size: 2rem;
}

a.a-button{
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;
}

a.a-button div.button-container{
    width: 55%;
}


.planet-space {
    height: 400px;
    display: flex;
    margin: auto 250px auto 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.details::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #a01f1f;
    box-shadow: inset 5px 5px 0 #811414;
    position: absolute;
    border-radius: 100%;
    top: 50px;
    left: 60px;
}

.details::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #a01f1f;
    box-shadow: inset 5px 5px 0 #811414;
    position: absolute;
    border-radius: 100%;
    bottom: 50px;
    left: 80px;
}

.shadow {
    width: 180px;
    height: 50px;
    background-color: #00000042;
    border-radius: 100%;
    animation-name: boing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes boing {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.1);
    }
}

.planet {
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 100%;
    box-shadow: inset -50px -30px 0 #811414;
    position: relative;
    overflow: hidden;
    animation: up-down alternate 1s infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(80px);
    }
}

.details {
    width: 20px;
    height: 20px;
    background-color: #a01f1f;
    box-shadow: inset 5px 5px 0 #811414;
    border-radius: 100%;
    position: relative;
    top: 90px;
    left: 50px;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(250px);
    }
}

.Landing-Dark {
    background-color: var(--Grey-800);
    color: var(--white);
}

.Landing-Light {
    background: var(--white);
    color: var(--Grey-800);
}


@media(max-width: 1080px) {

    a.a-button div.button-container{
        width: 70%;
    }
    
}

@media(max-width: 700px) {

    .planet-space{
        display: none;
    }

    div.landing-container{
        display: flex;

        align-items: center;
        justify-content: center;
        text-align: center;

        width: 100vw;
        height: 100vh;
    }

    span.span-animation{
        padding: 2.5rem 0;
        margin-top: 5rem;
    
        font-size: 1.1rem;
    }

    span h1{
        font-size: 1.5rem;
    }

    a.a-button div.button-container{
        width: 100%;
        margin: 0 auto;
    }
    section{
        margin: auto 1rem;
    }
}