div#header-container{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 1.3rem 2.5rem;

    background: var(--Grey-400);


}

h1{
    font-size: 1.6rem;
}

nav#main-desktop li{
    display: inline-block;
    list-style: none;
    margin: auto 2.2rem;

    font-size: 1.1rem;

    cursor: pointer;
}

nav#main-desktop li:hover{
    border-bottom: 2px solid var(--color-button);
}

nav#main-mobile{
    display: none;       
}

img{
    display: block;
}

img#main-icon{
    display: none;
}

@media(max-width: 1080px) {
    img#main-icon{
        display: none;
    }
    nav#main-desktop li{
        display: inline-block;
        list-style: none;
        margin: auto 0.7rem;
    
        font-size: 1rem;
    
        cursor: pointer;
    }
}

@media(max-width: 700px) {
    div#header-container{
        padding: 1rem 1.5rem;
        height: 100px;
    }
    img#main-icon{
        display: block;
        width: 9%;
        height: 50%;
    }
    nav#main-mobile{
        width: 50%;

        display: flex;
        flex-direction: column;

        position: absolute;
        right: 0%;

        list-style: none;
        background: var(--Grey-800);

    }

    nav#main-mobile li{
        text-align: right;
        margin: 4rem 2rem;
    }
    nav#main-desktop{
        display: none;
    }
}